name: CI

on:
  workflow_call:
    inputs:
      event_name:
        required: true
        type: string
      repo_full_name:
        required: true
        type: string
  push:
    branches:
      - '**'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  tests:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - name: Checkout project
        uses: actions/checkout@v6.0.2

      - name: Install Lua
        run: |
          sudo apt-get install lua5.1 lua-check luarocks
          sudo luarocks install busted

      - name: Run Luacheck
        run: luacheck -q .

      - name: Run busted Unit Tests
        run: |
          busted -p ".test.lua" .
